body{
  background-color: #EAE0DA;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
  color: #473C33;
  text-shadow: 0.5px 0.5px #E98EAD;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 0.5px 0.5px #473C33;
  text-transform: uppercase;
  color: #E98EAD
}

.btn {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3A4F7A;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

p {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 10px;
  font-size: 18px;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background: #EAE0DA;
  border: none;
  font-size: 15px;
  color: #0071c2
}

.one{
  background-color: #EAE0DA;
}
